<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.10.0-beta0002" targetFramework="net48" />
  <package id="Dotmim.Sync.Core" version="0.3.0" targetFramework="net472" />
  <package id="Dotmim.Sync.Sqlite" version="0.3.0" targetFramework="net48" />
  <package id="Dotmim.Sync.SqlServer" version="0.3.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.6.0-rc1.19456.4" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="3.0.0-rc1.19456.14" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.0.0-rc1.19456.14" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3-beta1" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.2-pre20190904113843" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.2-pre20190904113843" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.2-pre20190904113843" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2-pre20190904113843" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.14" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.14" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.14" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2-pre20190904113843" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.14" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.7.0-rc1.19456.4" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.6.0-rc1.19456.4" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0-rc1.19456.4" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-rc1.19456.4" targetFramework="net48" />
</packages>